body {
	margin: 0;
}

a {
  color: #008ce3;
  text-decoration: none;
}

.submit-button {
  background: #008ce3;
  color: #FFFFFF;
  cursor: pointer;
  border: 0;
  box-shadow:none;
  border-radius: 0px;
  font-size: 20px;
  padding: 10px;
}

.submit-button:disabled {
  background: #BBBBBB;
  cursor: not-allowed;
}

.task {
  padding-top: 10px;
  border-bottom: solid 1px #ccc;
  display: grid;
  grid-template-columns: 6% 94%;
  align-items: center;
}

.clickable-task-portion {
  display: grid;
  grid-template-columns: 70% 10% 20%;
  align-items: center;
}

.clickable-task-portion:hover {
  cursor: pointer;
}

.title {
  padding-left: 10px;
}